body {
    margin: 0;
    
}

.jumbotron {
    height: 18rem;
    background-color:#0f0e17;
    text-align: center;
    color: #a7a9be;
}

#month-picker {
    margin-right: 34pc;
    margin-top: 15px;

}

.lead {
    background-color: #fffffe;
    width: 74%
}


#location {
    padding-top: 10%;
    padding-bottom: 5%;
}

#_dash-app-content > div > div:nth-child(3) > div {
    margin-right: 0;
    text-align: center;
    padding-left: 13%;
    padding-bottom: 3%;
    padding-top: 5%;
}

#_dash-app-content > div > div:nth-child(3) > div > div > h1 {
    color: #fffffe;
}




#cases-graph > div.js-plotly-plot > div > div > svg:nth-child(1) {
    background-color: #f8f9fa!important;
    border-radius: 10px;
    
}

#cases-graph > div.js-plotly-plot > div > div > svg:nth-child(3) > g.infolayer > g.legend > rect.bg {
    fill: #f8f9fa!important;
}

#cases-graph {
    padding-bottom: 2%;
    padding-top: 4%;
    
}


#deaths-graph > div.js-plotly-plot > div > div > svg:nth-child(1) {
    background-color: #f8f9fa!important;
    border-radius: 10px;
}

#deaths-graph > div.js-plotly-plot > div > div > svg:nth-child(3) > g.infolayer > g.legend > rect.bg {
    fill: #f8f9fa!important;
}

#_dash-app-content > div > div > div > nav > div {
    padding-top: 25%;
}

#react-entry-point > div > div > div > nav > div > ul:nth-child(2) > li {
    padding-top: 10%;
}


#react-entry-point > div > div > div > nav > div > ul:nth-child(4) > li {
    padding-top: 10%;
    
}
#react-entry-point > div > div > div > nav {
    text-align: center;
}

#react-entry-point > div > div > div > nav > div > h6:nth-child(3) {
    margin-left: 10%;
    font-weight: bolder;
    padding-top: 5%;
}

#react-entry-point > div > div > div > nav > div > h6:nth-child(1) {
    padding-top: 20%;
    font-weight: bolder;
    margin-left: 10%;
}

#react-entry-point > div > div > div > main > div:nth-child(2) {
    padding-top: 10%;

}

#react-entry-point > div > div > div > main > div.row > div {
    text-align: center;
}